<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind Speed Forecast</title>
    <style>
        /* Ensure the HTML and Body elements occupy the full height of the viewport */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        /* Ensure the map container fills the full height of its parent */
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map">{{ map_html|safe }}</div>
</body>
</html>
